<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Blog edit</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
</head>
<body>
<header th:insert="blocks/header.html :: header"></header>

<div class="container mt-5 mb-5">
    <h1>Edit</h1>
    <div th:each="el : ${post}">
    <form method="post">
        <input type="text" th:value="${el.title}" name="title" placeholder="Post name" class="form-control"><br>
        <input type="text" th:value="${el.anons}" name="anons" placeholder="Post anons" class="form-control"><br>
        <textarea type="text" th:value="${el.full_text}" name="full_text" placeholder="Post text" class="form-control" th:text="${el.full_text}"/><br>
        <button type="submit" class="btn btn-success">Update</button>
    </form>
</div>
<div th:insert="blocks/footer.html :: footer"></div>
</body>
</html>